.page-header
  %h1= t ".title"

- if @projects.empty?
  %p= t ".no_projects"
- else
  - @projects.each do |p|
    = progress_bar(p.tagged_completion, link_to(p.title, p))
.span4
  .tasks
    = link_to t(".create_new_project"), new_project_path
